
<style type="text/css">

.mylist:link {
      background-color:green;
 
}

 .mylist:visited { background-color:red;}
 .mylist:hover   { background-color:rgb(245, 245, 245);}
 .mylist:active  { background-color:blue;}



</style>


<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac <div style="height:50px;background-color:yellow;float:right;">dfdfdf</div>facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<div class="panel panel-primary">

    <div class="panel-heading">
	  
	  <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;<%= title%>列表
	 
    </div>
  
   
     
    
 
       <ul class="list-group">

            <% for (var i = 0, len = todos.length; i < len; i++) {
              var todo = todos[i];
              
            %>

             <li class="list-group-item mylist">

                    <ul class="list-inline" >
                        <li >
                          <span class="glyphicon glyphicon-ok-sign text-success"></span>
                          <%= todo.name%> &nbsp;&nbsp; [<%= todo.password%>]
                      
                        </li>
                        <li class="pull-right"> 
                                <div class="btn-group">
                                     <a href="/<%= preUrl%>/editView/<%- todo._id%>"  class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span>修改</a>
                                     <a href="/<%= preUrl%>/delete/<%- todo._id%>"  class="btn btn-primary btn-xs" onclick="return confirm('删除以后不能恢复的，确定？')"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                </div>
                        </li>
                    </ul>
              </li>
             
            <% } %>

        </ul>
    
  </div>

   



